window{
    width: 800px;
    height: 480px;
}
html {
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: url('graphic.jpeg') black no-repeat center center;
    background-size: cover;
    text-align: center;
    overflow: hidden;
}
#timer {
    color: white;
    text-align: center;
    font-size: 5rem;
    background-color: rgba( 50, 50, 50, .8);
    margin: 3rem  0 0 0;
    height: 21rem;
    padding: 2rem 0 2rem;
    overflow: hidden;
}
#minutesLabel {
    margin-top: 3.5rem;
}
#countUp{
    margin-top: 3rem;
}
#timeInputForm {
}
#minutesContainer {
    font-size: 4rem;
}
#minutes {
    text-align: center;
    height: 3rem;
    width: 5rem;
    font-size: 2rem;
    border-radius: .3rem;
}
#start {
    display: inline-block;
    font-size: 2rem;
    border-radius: .3rem;
    background-color: white;
}
#done {
    margin-top: 6.3rem;
}
.heading {
    font-size: 3rem;
}
